/* Mark Gingrass Custom CSS */
#border_blue {
    border: 10px solid #0000FF;
    border-radius: 25px;
    padding: 20px 20px 20px;
    margin-bottom: 20px;
  }
  
  #border_yellow {
    border: 10px solid #ffd900ee;
    border-radius: 25px;
    padding: 20px 20px 20px;
    margin-bottom: 20px;
  }